html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font-weight: normal;
vertical-align: baseline;
background: transparent;
}
article, aside, figure, footer, header, nav, section, details, summary {display: block;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
ul {list-style: none;}
a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; color: #09c;}
a:hover {color: #2BE;}
strong {font-weight: 400; color: #333;}
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
body {font-family: 'Source Sans Pro', Arial, sans-serif; font-size: 16px; font-weight: 300; color: #666; background: #fff;}
h1, h2, h3 {font-weight: 300; font-size: 46px; line-height: 1; color: #333;}
h2 {font-size: 30px; margin-bottom: 5px;}
h3 {font-size: 22px; margin-bottom: 10px;}
p {margin: 0 0 1em; line-height: 1.5; font-weight: 300;}
dt {color: #333; font-weight: 400;}
dd {color: #666; font-weight: 300; margin-bottom: 1em;}

.page-container {max-width: 960px; margin: 0 auto 0; padding: 2em 2em 0; background: #eee; border-radius: 3px;}
header {margin-bottom: 2em; padding-left: 60px; background: url('img/warning.png') 0 10px no-repeat;}
.subtitle {font-size: 16px; color: #666; margin: 0 0 0 3px;}
.highlight {background: #ddd; margin: 2em -2em; padding: 1em 2em 0;}
.language-switcher {max-width: 960px; text-align: right; margin: 2em auto 0;}
.language-switcher li {display: inline-block; margin: 0 0 0 .5em;}
.icon {width: 16px; height: 16px; opacity: .5; overflow: hidden; text-indent: 100%; white-space: nowrap; display: inline-block; background: url('img/flags.png') no-repeat;}
.icon.en {background-position: 0 -20px;}
.icon.es {background-position: 0 -40px;}
.icon.it {background-position: 0 -60px;}
.icon.fr {background-position: 0 -80px;}
.icon.pt {background-position: 0 -120px;}
.icon.de {background-position: 0 -140px;}
.icon:hover, .icon.active {opacity: 1;}