.container, .container-fluid, .container-xs {
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px;
                    margin-right: auto;
                    margin-left: auto
                }

                .container {
                    max-width: 1440px
                }

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    margin-right: -15px;
                    margin-left: -15px
                }

                .no-gutters {
                    margin-right: 0px;
                    margin-left: 0px
                }

                .no-gutters > .col, .no-gutters > [class*="col-"] {
                    padding-right: 0px;
                    padding-left: 0px
                }

                .col-xxl, .col-xxl-auto, .col-xxl-12, .col-xxl-11, .col-xxl-10, .col-xxl-9, .col-xxl-8, .col-xxl-7, .col-xxl-6, .col-xxl-5, .col-xxl-4, .col-xxl-3, .col-xxl-2, .col-xxl-1, .col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-rg, .col-rg-auto, .col-rg-12, .col-rg-11, .col-rg-10, .col-rg-9, .col-rg-8, .col-rg-7, .col-rg-6, .col-rg-5, .col-rg-4, .col-rg-3, .col-rg-2, .col-rg-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
                    position: relative;
                    width: 100%;
                    padding-right: 15px;
                    padding-left: 15px
                }

                .col {
                    flex-basis: 0px;
                    flex-grow: 1;
                    max-width: 100%
                }

                .row-cols-1 > * {
                    flex: 0 0 100%;
                    max-width: 100%
                }

                .row-cols-2 > * {
                    flex: 0 0 50%;
                    max-width: 50%
                }

                .row-cols-3 > * {
                    flex: 0 0 33.3333%;
                    max-width: 33.3333%
                }

                .row-cols-4 > * {
                    flex: 0 0 25%;
                    max-width: 25%
                }

                .row-cols-5 > * {
                    flex: 0 0 20%;
                    max-width: 20%
                }

                .row-cols-6 > * {
                    flex: 0 0 16.6667%;
                    max-width: 16.6667%
                }

                .col-auto {
                    flex: 0 0 auto;
                    width: auto;
                    max-width: 100%
                }

                .col-1 {
                    flex: 0 0 8.33333%;
                    max-width: 8.33333%
                }

                .col-2 {
                    flex: 0 0 16.6667%;
                    max-width: 16.6667%
                }

                .col-3 {
                    flex: 0 0 25%;
                    max-width: 25%
                }

                .col-4 {
                    flex: 0 0 33.3333%;
                    max-width: 33.3333%
                }

                .col-5 {
                    flex: 0 0 41.6667%;
                    max-width: 41.6667%
                }

                .col-6 {
                    flex: 0 0 50%;
                    max-width: 50%
                }

                .col-7 {
                    flex: 0 0 58.3333%;
                    max-width: 58.3333%
                }

                .col-8 {
                    flex: 0 0 66.6667%;
                    max-width: 66.6667%
                }

                .col-9 {
                    flex: 0 0 75%;
                    max-width: 75%
                }

                .col-10 {
                    flex: 0 0 83.3333%;
                    max-width: 83.3333%
                }

                .col-11 {
                    flex: 0 0 91.6667%;
                    max-width: 91.6667%
                }

                .col-12 {
                    flex: 0 0 100%;
                    max-width: 100%
                }

                .order-first {
                    order: -1
                }

                .order-last {
                    order: 13
                }

                .order-0 {
                    order: 0
                }

                .order-1 {
                    order: 1
                }

                .order-2 {
                    order: 2
                }

                .order-3 {
                    order: 3
                }

                .order-4 {
                    order: 4
                }

                .order-5 {
                    order: 5
                }

                .order-6 {
                    order: 6
                }

                .order-7 {
                    order: 7
                }

                .order-8 {
                    order: 8
                }

                .order-9 {
                    order: 9
                }

                .order-10 {
                    order: 10
                }

                .order-11 {
                    order: 11
                }

                .order-12 {
                    order: 12
                }

                .offset-1 {
                    margin-left: 8.33333%
                }

                .offset-2 {
                    margin-left: 16.6667%
                }

                .offset-3 {
                    margin-left: 25%
                }

                .offset-4 {
                    margin-left: 33.3333%
                }

                .offset-5 {
                    margin-left: 41.6667%
                }

                .offset-6 {
                    margin-left: 50%
                }

                .offset-7 {
                    margin-left: 58.3333%
                }

                .offset-8 {
                    margin-left: 66.6667%
                }

                .offset-9 {
                    margin-left: 75%
                }

                .offset-10 {
                    margin-left: 83.3333%
                }

                .offset-11 {
                    margin-left: 91.6667%
                }

                @media (min-width: 400px) {
                    .col-sm {
                        flex-basis: 0px;
                        flex-grow: 1;
                        max-width: 100%
                    }

                    .row-cols-sm-1 > * {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .row-cols-sm-2 > * {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .row-cols-sm-3 > * {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .row-cols-sm-4 > * {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .row-cols-sm-5 > * {
                        flex: 0 0 20%;
                        max-width: 20%
                    }

                    .row-cols-sm-6 > * {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-sm-auto {
                        flex: 0 0 auto;
                        width: auto;
                        max-width: 100%
                    }

                    .col-sm-1 {
                        flex: 0 0 8.33333%;
                        max-width: 8.33333%
                    }

                    .col-sm-2 {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-sm-3 {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .col-sm-4 {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .col-sm-5 {
                        flex: 0 0 41.6667%;
                        max-width: 41.6667%
                    }

                    .col-sm-6 {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .col-sm-7 {
                        flex: 0 0 58.3333%;
                        max-width: 58.3333%
                    }

                    .col-sm-8 {
                        flex: 0 0 66.6667%;
                        max-width: 66.6667%
                    }

                    .col-sm-9 {
                        flex: 0 0 75%;
                        max-width: 75%
                    }

                    .col-sm-10 {
                        flex: 0 0 83.3333%;
                        max-width: 83.3333%
                    }

                    .col-sm-11 {
                        flex: 0 0 91.6667%;
                        max-width: 91.6667%
                    }

                    .col-sm-12 {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .order-sm-first {
                        order: -1
                    }

                    .order-sm-last {
                        order: 13
                    }

                    .order-sm-0 {
                        order: 0
                    }

                    .order-sm-1 {
                        order: 1
                    }

                    .order-sm-2 {
                        order: 2
                    }

                    .order-sm-3 {
                        order: 3
                    }

                    .order-sm-4 {
                        order: 4
                    }

                    .order-sm-5 {
                        order: 5
                    }

                    .order-sm-6 {
                        order: 6
                    }

                    .order-sm-7 {
                        order: 7
                    }

                    .order-sm-8 {
                        order: 8
                    }

                    .order-sm-9 {
                        order: 9
                    }

                    .order-sm-10 {
                        order: 10
                    }

                    .order-sm-11 {
                        order: 11
                    }

                    .order-sm-12 {
                        order: 12
                    }

                    .offset-sm-0 {
                        margin-left: 0px
                    }

                    .offset-sm-1 {
                        margin-left: 8.33333%
                    }

                    .offset-sm-2 {
                        margin-left: 16.6667%
                    }

                    .offset-sm-3 {
                        margin-left: 25%
                    }

                    .offset-sm-4 {
                        margin-left: 33.3333%
                    }

                    .offset-sm-5 {
                        margin-left: 41.6667%
                    }

                    .offset-sm-6 {
                        margin-left: 50%
                    }

                    .offset-sm-7 {
                        margin-left: 58.3333%
                    }

                    .offset-sm-8 {
                        margin-left: 66.6667%
                    }

                    .offset-sm-9 {
                        margin-left: 75%
                    }

                    .offset-sm-10 {
                        margin-left: 83.3333%
                    }

                    .offset-sm-11 {
                        margin-left: 91.6667%
                    }
                }

                @media (min-width: 600px) {
                    .col-rg {
                        flex-basis: 0px;
                        flex-grow: 1;
                        max-width: 100%
                    }

                    .row-cols-rg-1 > * {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .row-cols-rg-2 > * {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .row-cols-rg-3 > * {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .row-cols-rg-4 > * {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .row-cols-rg-5 > * {
                        flex: 0 0 20%;
                        max-width: 20%
                    }

                    .row-cols-rg-6 > * {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-rg-auto {
                        flex: 0 0 auto;
                        width: auto;
                        max-width: 100%
                    }

                    .col-rg-1 {
                        flex: 0 0 8.33333%;
                        max-width: 8.33333%
                    }

                    .col-rg-2 {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-rg-3 {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .col-rg-4 {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .col-rg-5 {
                        flex: 0 0 41.6667%;
                        max-width: 41.6667%
                    }

                    .col-rg-6 {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .col-rg-7 {
                        flex: 0 0 58.3333%;
                        max-width: 58.3333%
                    }

                    .col-rg-8 {
                        flex: 0 0 66.6667%;
                        max-width: 66.6667%
                    }

                    .col-rg-9 {
                        flex: 0 0 75%;
                        max-width: 75%
                    }

                    .col-rg-10 {
                        flex: 0 0 83.3333%;
                        max-width: 83.3333%
                    }

                    .col-rg-11 {
                        flex: 0 0 91.6667%;
                        max-width: 91.6667%
                    }

                    .col-rg-12 {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .order-rg-first {
                        order: -1
                    }

                    .order-rg-last {
                        order: 13
                    }

                    .order-rg-0 {
                        order: 0
                    }

                    .order-rg-1 {
                        order: 1
                    }

                    .order-rg-2 {
                        order: 2
                    }

                    .order-rg-3 {
                        order: 3
                    }

                    .order-rg-4 {
                        order: 4
                    }

                    .order-rg-5 {
                        order: 5
                    }

                    .order-rg-6 {
                        order: 6
                    }

                    .order-rg-7 {
                        order: 7
                    }

                    .order-rg-8 {
                        order: 8
                    }

                    .order-rg-9 {
                        order: 9
                    }

                    .order-rg-10 {
                        order: 10
                    }

                    .order-rg-11 {
                        order: 11
                    }

                    .order-rg-12 {
                        order: 12
                    }

                    .offset-rg-0 {
                        margin-left: 0px
                    }

                    .offset-rg-1 {
                        margin-left: 8.33333%
                    }

                    .offset-rg-2 {
                        margin-left: 16.6667%
                    }

                    .offset-rg-3 {
                        margin-left: 25%
                    }

                    .offset-rg-4 {
                        margin-left: 33.3333%
                    }

                    .offset-rg-5 {
                        margin-left: 41.6667%
                    }

                    .offset-rg-6 {
                        margin-left: 50%
                    }

                    .offset-rg-7 {
                        margin-left: 58.3333%
                    }

                    .offset-rg-8 {
                        margin-left: 66.6667%
                    }

                    .offset-rg-9 {
                        margin-left: 75%
                    }

                    .offset-rg-10 {
                        margin-left: 83.3333%
                    }

                    .offset-rg-11 {
                        margin-left: 91.6667%
                    }
                }

                @media (min-width: 780px) {
                    .col-md {
                        flex-basis: 0px;
                        flex-grow: 1;
                        max-width: 100%
                    }

                    .row-cols-md-1 > * {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .row-cols-md-2 > * {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .row-cols-md-3 > * {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .row-cols-md-4 > * {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .row-cols-md-5 > * {
                        flex: 0 0 20%;
                        max-width: 20%
                    }

                    .row-cols-md-6 > * {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-md-auto {
                        flex: 0 0 auto;
                        width: auto;
                        max-width: 100%
                    }

                    .col-md-1 {
                        flex: 0 0 8.33333%;
                        max-width: 8.33333%
                    }

                    .col-md-2 {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-md-3 {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .col-md-4 {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .col-md-5 {
                        flex: 0 0 41.6667%;
                        max-width: 41.6667%
                    }

                    .col-md-6 {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .col-md-7 {
                        flex: 0 0 58.3333%;
                        max-width: 58.3333%
                    }

                    .col-md-8 {
                        flex: 0 0 66.6667%;
                        max-width: 66.6667%
                    }

                    .col-md-9 {
                        flex: 0 0 75%;
                        max-width: 75%
                    }

                    .col-md-10 {
                        flex: 0 0 83.3333%;
                        max-width: 83.3333%
                    }

                    .col-md-11 {
                        flex: 0 0 91.6667%;
                        max-width: 91.6667%
                    }

                    .col-md-12 {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .order-md-first {
                        order: -1
                    }

                    .order-md-last {
                        order: 13
                    }

                    .order-md-0 {
                        order: 0
                    }

                    .order-md-1 {
                        order: 1
                    }

                    .order-md-2 {
                        order: 2
                    }

                    .order-md-3 {
                        order: 3
                    }

                    .order-md-4 {
                        order: 4
                    }

                    .order-md-5 {
                        order: 5
                    }

                    .order-md-6 {
                        order: 6
                    }

                    .order-md-7 {
                        order: 7
                    }

                    .order-md-8 {
                        order: 8
                    }

                    .order-md-9 {
                        order: 9
                    }

                    .order-md-10 {
                        order: 10
                    }

                    .order-md-11 {
                        order: 11
                    }

                    .order-md-12 {
                        order: 12
                    }

                    .offset-md-0 {
                        margin-left: 0px
                    }

                    .offset-md-1 {
                        margin-left: 8.33333%
                    }

                    .offset-md-2 {
                        margin-left: 16.6667%
                    }

                    .offset-md-3 {
                        margin-left: 25%
                    }

                    .offset-md-4 {
                        margin-left: 33.3333%
                    }

                    .offset-md-5 {
                        margin-left: 41.6667%
                    }

                    .offset-md-6 {
                        margin-left: 50%
                    }

                    .offset-md-7 {
                        margin-left: 58.3333%
                    }

                    .offset-md-8 {
                        margin-left: 66.6667%
                    }

                    .offset-md-9 {
                        margin-left: 75%
                    }

                    .offset-md-10 {
                        margin-left: 83.3333%
                    }

                    .offset-md-11 {
                        margin-left: 91.6667%
                    }
                }

                @media (min-width: 1024px) {
                    .col-lg {
                        flex-basis: 0px;
                        flex-grow: 1;
                        max-width: 100%
                    }

                    .row-cols-lg-1 > * {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .row-cols-lg-2 > * {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .row-cols-lg-3 > * {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .row-cols-lg-4 > * {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .row-cols-lg-5 > * {
                        flex: 0 0 20%;
                        max-width: 20%
                    }

                    .row-cols-lg-6 > * {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-lg-auto {
                        flex: 0 0 auto;
                        width: auto;
                        max-width: 100%
                    }

                    .col-lg-1 {
                        flex: 0 0 8.33333%;
                        max-width: 8.33333%
                    }

                    .col-lg-2 {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-lg-3 {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .col-lg-4 {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .col-lg-5 {
                        flex: 0 0 41.6667%;
                        max-width: 41.6667%
                    }

                    .col-lg-6 {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .col-lg-7 {
                        flex: 0 0 58.3333%;
                        max-width: 58.3333%
                    }

                    .col-lg-8 {
                        flex: 0 0 66.6667%;
                        max-width: 66.6667%
                    }

                    .col-lg-9 {
                        flex: 0 0 75%;
                        max-width: 75%
                    }

                    .col-lg-10 {
                        flex: 0 0 83.3333%;
                        max-width: 83.3333%
                    }

                    .col-lg-11 {
                        flex: 0 0 91.6667%;
                        max-width: 91.6667%
                    }

                    .col-lg-12 {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .order-lg-first {
                        order: -1
                    }

                    .order-lg-last {
                        order: 13
                    }

                    .order-lg-0 {
                        order: 0
                    }

                    .order-lg-1 {
                        order: 1
                    }

                    .order-lg-2 {
                        order: 2
                    }

                    .order-lg-3 {
                        order: 3
                    }

                    .order-lg-4 {
                        order: 4
                    }

                    .order-lg-5 {
                        order: 5
                    }

                    .order-lg-6 {
                        order: 6
                    }

                    .order-lg-7 {
                        order: 7
                    }

                    .order-lg-8 {
                        order: 8
                    }

                    .order-lg-9 {
                        order: 9
                    }

                    .order-lg-10 {
                        order: 10
                    }

                    .order-lg-11 {
                        order: 11
                    }

                    .order-lg-12 {
                        order: 12
                    }

                    .offset-lg-0 {
                        margin-left: 0px
                    }

                    .offset-lg-1 {
                        margin-left: 8.33333%
                    }

                    .offset-lg-2 {
                        margin-left: 16.6667%
                    }

                    .offset-lg-3 {
                        margin-left: 25%
                    }

                    .offset-lg-4 {
                        margin-left: 33.3333%
                    }

                    .offset-lg-5 {
                        margin-left: 41.6667%
                    }

                    .offset-lg-6 {
                        margin-left: 50%
                    }

                    .offset-lg-7 {
                        margin-left: 58.3333%
                    }

                    .offset-lg-8 {
                        margin-left: 66.6667%
                    }

                    .offset-lg-9 {
                        margin-left: 75%
                    }

                    .offset-lg-10 {
                        margin-left: 83.3333%
                    }

                    .offset-lg-11 {
                        margin-left: 91.6667%
                    }
                }

                @media (min-width: 1280px) {
                    .col-xl {
                        flex-basis: 0px;
                        flex-grow: 1;
                        max-width: 100%
                    }

                    .row-cols-xl-1 > * {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .row-cols-xl-2 > * {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .row-cols-xl-3 > * {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .row-cols-xl-4 > * {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .row-cols-xl-5 > * {
                        flex: 0 0 20%;
                        max-width: 20%
                    }

                    .row-cols-xl-6 > * {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-xl-auto {
                        flex: 0 0 auto;
                        width: auto;
                        max-width: 100%
                    }

                    .col-xl-1 {
                        flex: 0 0 8.33333%;
                        max-width: 8.33333%
                    }

                    .col-xl-2 {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-xl-3 {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .col-xl-4 {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .col-xl-5 {
                        flex: 0 0 41.6667%;
                        max-width: 41.6667%
                    }

                    .col-xl-6 {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .col-xl-7 {
                        flex: 0 0 58.3333%;
                        max-width: 58.3333%
                    }

                    .col-xl-8 {
                        flex: 0 0 66.6667%;
                        max-width: 66.6667%
                    }

                    .col-xl-9 {
                        flex: 0 0 75%;
                        max-width: 75%
                    }

                    .col-xl-10 {
                        flex: 0 0 83.3333%;
                        max-width: 83.3333%
                    }

                    .col-xl-11 {
                        flex: 0 0 91.6667%;
                        max-width: 91.6667%
                    }

                    .col-xl-12 {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .order-xl-first {
                        order: -1
                    }

                    .order-xl-last {
                        order: 13
                    }

                    .order-xl-0 {
                        order: 0
                    }

                    .order-xl-1 {
                        order: 1
                    }

                    .order-xl-2 {
                        order: 2
                    }

                    .order-xl-3 {
                        order: 3
                    }

                    .order-xl-4 {
                        order: 4
                    }

                    .order-xl-5 {
                        order: 5
                    }

                    .order-xl-6 {
                        order: 6
                    }

                    .order-xl-7 {
                        order: 7
                    }

                    .order-xl-8 {
                        order: 8
                    }

                    .order-xl-9 {
                        order: 9
                    }

                    .order-xl-10 {
                        order: 10
                    }

                    .order-xl-11 {
                        order: 11
                    }

                    .order-xl-12 {
                        order: 12
                    }

                    .offset-xl-0 {
                        margin-left: 0px
                    }

                    .offset-xl-1 {
                        margin-left: 8.33333%
                    }

                    .offset-xl-2 {
                        margin-left: 16.6667%
                    }

                    .offset-xl-3 {
                        margin-left: 25%
                    }

                    .offset-xl-4 {
                        margin-left: 33.3333%
                    }

                    .offset-xl-5 {
                        margin-left: 41.6667%
                    }

                    .offset-xl-6 {
                        margin-left: 50%
                    }

                    .offset-xl-7 {
                        margin-left: 58.3333%
                    }

                    .offset-xl-8 {
                        margin-left: 66.6667%
                    }

                    .offset-xl-9 {
                        margin-left: 75%
                    }

                    .offset-xl-10 {
                        margin-left: 83.3333%
                    }

                    .offset-xl-11 {
                        margin-left: 91.6667%
                    }
                }

                @media (min-width: 1441px) {
                    .col-xxl {
                        flex-basis: 0px;
                        flex-grow: 1;
                        max-width: 100%
                    }

                    .row-cols-xxl-1 > * {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .row-cols-xxl-2 > * {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .row-cols-xxl-3 > * {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .row-cols-xxl-4 > * {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .row-cols-xxl-5 > * {
                        flex: 0 0 20%;
                        max-width: 20%
                    }

                    .row-cols-xxl-6 > * {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-xxl-auto {
                        flex: 0 0 auto;
                        width: auto;
                        max-width: 100%
                    }

                    .col-xxl-1 {
                        flex: 0 0 8.33333%;
                        max-width: 8.33333%
                    }

                    .col-xxl-2 {
                        flex: 0 0 16.6667%;
                        max-width: 16.6667%
                    }

                    .col-xxl-3 {
                        flex: 0 0 25%;
                        max-width: 25%
                    }

                    .col-xxl-4 {
                        flex: 0 0 33.3333%;
                        max-width: 33.3333%
                    }

                    .col-xxl-5 {
                        flex: 0 0 41.6667%;
                        max-width: 41.6667%
                    }

                    .col-xxl-6 {
                        flex: 0 0 50%;
                        max-width: 50%
                    }

                    .col-xxl-7 {
                        flex: 0 0 58.3333%;
                        max-width: 58.3333%
                    }

                    .col-xxl-8 {
                        flex: 0 0 66.6667%;
                        max-width: 66.6667%
                    }

                    .col-xxl-9 {
                        flex: 0 0 75%;
                        max-width: 75%
                    }

                    .col-xxl-10 {
                        flex: 0 0 83.3333%;
                        max-width: 83.3333%
                    }

                    .col-xxl-11 {
                        flex: 0 0 91.6667%;
                        max-width: 91.6667%
                    }

                    .col-xxl-12 {
                        flex: 0 0 100%;
                        max-width: 100%
                    }

                    .order-xxl-first {
                        order: -1
                    }

                    .order-xxl-last {
                        order: 13
                    }

                    .order-xxl-0 {
                        order: 0
                    }

                    .order-xxl-1 {
                        order: 1
                    }

                    .order-xxl-2 {
                        order: 2
                    }

                    .order-xxl-3 {
                        order: 3
                    }

                    .order-xxl-4 {
                        order: 4
                    }

                    .order-xxl-5 {
                        order: 5
                    }

                    .order-xxl-6 {
                        order: 6
                    }

                    .order-xxl-7 {
                        order: 7
                    }

                    .order-xxl-8 {
                        order: 8
                    }

                    .order-xxl-9 {
                        order: 9
                    }

                    .order-xxl-10 {
                        order: 10
                    }

                    .order-xxl-11 {
                        order: 11
                    }

                    .order-xxl-12 {
                        order: 12
                    }

                    .offset-xxl-0 {
                        margin-left: 0px
                    }

                    .offset-xxl-1 {
                        margin-left: 8.33333%
                    }

                    .offset-xxl-2 {
                        margin-left: 16.6667%
                    }

                    .offset-xxl-3 {
                        margin-left: 25%
                    }

                    .offset-xxl-4 {
                        margin-left: 33.3333%
                    }

                    .offset-xxl-5 {
                        margin-left: 41.6667%
                    }

                    .offset-xxl-6 {
                        margin-left: 50%
                    }

                    .offset-xxl-7 {
                        margin-left: 58.3333%
                    }

                    .offset-xxl-8 {
                        margin-left: 66.6667%
                    }

                    .offset-xxl-9 {
                        margin-left: 75%
                    }

                    .offset-xxl-10 {
                        margin-left: 83.3333%
                    }

                    .offset-xxl-11 {
                        margin-left: 91.6667%
                    }
                }

                .vertical-gutters {
                    margin-bottom: -30px
                }

                .vertical-gutters > .col, .vertical-gutters > [class*="col-"] {
                    padding-bottom: 30px
                }

                .row.border-gutters {
                    margin-right: -1px;
                    margin-bottom: -1px;
                    margin-left: 0px
                }

                .row.border-gutters > .col, .row.border-gutters > [class*="col-"] {
                    padding-left: 0px;
                    padding-right: 1px;
                    padding-bottom: 1px
                }

                .container {
                    padding-left: 12px;
                    padding-right: 12px
                }

                .container-reset {
                    margin-left: -12px;
                    margin-right: -12px
                }

                .container-reset-left {
                    margin-left: -12px
                }

                .container-reset-right {
                    margin-right: -12px
                }

                @media (max-width: 399.98px) {
                    .container-fluid-xs {
                        padding-left: 1rem;
                        padding-right: 1rem
                    }
                }

                @media (min-width: 400px) {
                    .container {
                        padding-left: 16px;
                        padding-right: 16px
                    }
                }

                @media (min-width: 400px) {
                    .container-reset {
                        margin-left: -16px;
                        margin-right: -16px
                    }
                }

                @media (min-width: 400px) {
                    .container-reset-left {
                        margin-left: -16px
                    }
                }

                @media (min-width: 400px) {
                    .container-reset-right {
                        margin-right: -16px
                    }
                }

                @media (min-width: 400px) and (max-width: 599.98px) {
                    .container-fluid-sm {
                        padding-left: 1rem;
                        padding-right: 1rem
                    }
                }

                @media (min-width: 600px) {
                    .container {
                        padding-left: 32px;
                        padding-right: 32px
                    }
                }

                @media (min-width: 600px) {
                    .container-reset {
                        margin-left: -32px;
                        margin-right: -32px
                    }
                }

                @media (min-width: 600px) {
                    .container-reset-left {
                        margin-left: -32px
                    }
                }

                @media (min-width: 600px) {
                    .container-reset-right {
                        margin-right: -32px
                    }
                }

                @media (min-width: 600px) and (max-width: 779.98px) {
                    .container-fluid-rg {
                        padding-left: 1rem;
                        padding-right: 1rem
                    }
                }

                @media (min-width: 780px) and (max-width: 1023.98px) {
                    .container-fluid-md {
                        padding-left: 1rem;
                        padding-right: 1rem
                    }
                }

                @media (min-width: 1024px) {
                    .container {
                        padding-left: 40px;
                        padding-right: 40px
                    }
                }

                @media (min-width: 1024px) {
                    .container-reset {
                        margin-left: -40px;
                        margin-right: -40px
                    }
                }

                @media (min-width: 1024px) {
                    .container-reset-left {
                        margin-left: -40px
                    }
                }

                @media (min-width: 1024px) {
                    .container-reset-right {
                        margin-right: -40px
                    }
                }

                @media (min-width: 1024px) and (max-width: 1279.98px) {
                    .container-fluid-lg {
                        padding-left: 1rem;
                        padding-right: 1rem
                    }
                }

                @media (min-width: 1280px) {
                    .container {
                        padding-left: 128px;
                        padding-right: 128px
                    }
                }

                @media (min-width: 1280px) {
                    .container-reset {
                        margin-left: -128px;
                        margin-right: -128px
                    }
                }

                @media (min-width: 1280px) {
                    .container-reset-left {
                        margin-left: -128px
                    }
                }

                @media (min-width: 1280px) {
                    .container-reset-right {
                        margin-right: -128px
                    }
                }

                @media (min-width: 1280px) and (max-width: 1440.98px) {
                    .container-fluid-xl {
                        padding-left: 1rem;
                        padding-right: 1rem
                    }
                }

                @media (min-width: 1441px) {
                    .container-fluid-xxl {
                        padding-left: 1rem;
                        padding-right: 1rem
                    }
                }

                *, :host, ::before, ::after {
                    box-sizing: border-box
                }

                :host {
                    font-family: "Frutiger Neue For Post", Arial, Helvetica, sans-serif
                }

                button {
                    font: inherit;
                    padding: 0px
                }

                img, svg {
                    max-width: 100%;
                    max-height: 100%
                }

                @media (forced-colors: active) {
                    svg {
                        color: white
                    }
                }

                .no-list {
                    list-style: none;
                    padding-left: 0px;
                    margin-top: 0px;
                    margin-bottom: 0px
                }

                .btn-blank {
                    background-color: transparent;
                    border: 0;
                    border-radius: 0px;
                    padding: 0px
                }

                .nav-link {
                    text-decoration: none;
                    color: rgba(0, 0, 0, 0.8);
                    transition: color 200ms ease 0s;
                    background-color: transparent;
                    border-radius: 0px;
                    box-shadow: none;
                    border: 0px;
                    margin: 0px;
                    display: flex;
                    align-items: center;
                    gap: .5rem
                }

                .nav-link:hover, .nav-link:focus {
                    color: black
                }

                .nav-link > svg {
                    width: 1.4em;
                    height: 1.4em;
                    flex-shrink: 0
                }

                .nav-link > span {
                    flex-shrink: 1
                }

                .box > :first-child {
                    margin-top: 0px
                }

                .box > :last-child {
                    margin-bottom: 0px
                }

                .mirrored {
                    transform: scaleX(-1)
                }

                .rotate-270 {
                    transform: rotate(270deg)
                }

                .bold {
                    font-weight: 700
                }

                .light {
                    font-weight: 300
                }

                .d-flex {
                    display: flex
                }

                .d-inline-flex {
                    display: inline-flex
                }

                .align-items-center {
                    align-items: center
                }

                @media (min-width: 1441px) {
                    .wide-container {
                        margin: 0px auto;
                        max-width: 1440px
                    }
                }

                @media (max-width: 599.98px) {
                    .container {
                        padding-right: 16px;
                        padding-left: 16px
                    }
                }

                @media (min-width: 600px) and (max-width: 1023.98px) {
                    .container {
                        padding-right: 32px;
                        padding-left: 32px
                    }
                }

                @media (min-width: 1024px) {
                    .container {
                        padding-right: 40px;
                        padding-left: 40px
                    }
                }

                .sr-only {
                    position: absolute;
                    width: 1px;
                    height: 1px;
                    border: 0px;
                    padding: 0px;
                    margin: -1px;
                    overflow: hidden;
                    clip: rect(0px, 0px, 0px, 0px)
                }

                @media (max-width: -0.02px) {
                    .hidden-xs {
                        display: none
                    }
                }

                @media (max-width: 399.98px) {
                    .hidden-sm {
                        display: none
                    }
                }

                @media (max-width: 599.98px) {
                    .hidden-rg {
                        display: none
                    }
                }

                @media (max-width: 779.98px) {
                    .hidden-md {
                        display: none
                    }
                }

                @media (max-width: 1023.98px) {
                    .hidden-lg {
                        display: none
                    }
                }

                @media (max-width: 1279.98px) {
                    .hidden-xl {
                        display: none
                    }
                }

                @media (max-width: 1440.98px) {
                    .hidden-xxl {
                        display: none
                    }
                }

                :host {
                    display: block
                }

                h3 {
                    font-size: inherit;
                    margin-top: 0px
                }

                .post-internet-footer {
                    font-size: 1rem;
                    font-weight: 300;
                    border-top: 2px solid #e5e5e5
                }

                .pre-footer {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    border-bottom: 2px solid #e5e5e5
                }

                .pre-footer .block-custom, .pre-footer .link-list {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem 1.5rem
                }

                .pre-footer h3, .pre-footer .link-list li {
                    margin: 0px
                }

                .footer-container {
                    display: grid;
                    grid-template-columns:1fr 1fr 1fr 1fr;
                    gap: 3.5rem 2rem;
                    margin-top: 3.5rem;
                    margin-bottom: 3.5rem
                }

                @media (max-width: 1023.98px) {
                    .footer-container {
                        grid-template-columns:1fr 1fr
                    }
                }

                @media (max-width: 599.98px) {
                    .footer-container {
                        gap: 1.5rem 2rem;
                        margin-top: 1.5rem;
                        margin-bottom: 1.5rem
                    }
                }

                @media (max-width: 399.98px) {
                    .block-list {
                        grid-column: 1/3
                    }
                }

                @media (max-width: 599.98px) {
                    .block-contact, .block-address {
                        grid-column: 1/3
                    }
                }

                .block-socials {
                    margin-top: 3.5rem
                }

                @media (max-width: 599.98px) {
                    .block-socials {
                        margin-top: 1.5rem
                    }
                }

                address {
                    font-style: normal
                }

                .link-list li {
                    margin: 1rem 0px
                }

                .link-list a {
                    display: block;
                    text-decoration: none;
                    color: #666;
                    transition: color 200ms ease 0s
                }

                .link-list a:hover {
                    color: black
                }

                .content-row {
                    padding: .5rem 0px
                }

                h3 + .content-row {
                    padding-top: 0px
                }

                .content-row:last-child {
                    padding-bottom: 0px
                }

                .content-row + .content-row {
                    border-top: 1px solid #e5e5e5
                }

                .content-row p {
                    margin: .25rem
                }

                .text {
                    font-weight: 700
                }

                .describe {
                    font-size: .8125rem;
                    color: #666;
                    font-weight: 400
                }

                .number {
                    font-size: 1.25rem
                }

                .socials {
                    display: inline-grid;
                    grid-auto-flow: row;
                    grid-template-columns:repeat(4, 1fr);
                    gap: 1rem 1.5rem
                }

                .socials a {
                    display: block;
                    color: #666;
                    transition: color 200ms ease 0s
                }

                .socials a:hover, .socials a:focus {
                    color: black
                }

                .socials svg {
                    display: block;
                    width: 1.5rem;
                    height: 1.5rem
                }

                .copyright {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem 1.5rem;
                    margin-top: 2rem;
                    margin-bottom: 2rem;
                    font-size: .75rem
                }

                .footer-meta-links {
                    display: flex;
                    flex-wrap: wrap;
                    gap: .5rem;
                    font-weight: 400
                }