
	#element-008f4ddd-5c3a-41f3-8d01-c88d45d48391 .content-color-box-wrapper {
  padding: 20px;
  border-radius: 0px;
  background-color: #ffffff;
  border-style: Dotted;
  border-color: #555555;
  border-width: 3px;
}

