* { outline: 0; }

body { background-color: #efefef; color: #333; font-family: 'Poppins', 'Verdana'; font-size: 13px; line-height: 25px; margin: 0; }

a { color: #333; text-decoration: none; }
p { margin: 0; }
h1 { font-size: 19.5px; }
h3, h4 { font-size: 16px; }
h5 { font-size: 15px; }
h1, h2, h3, h4, h5 { border-bottom: 1px solid #e3e3e3; font-weight: 500; margin: 0 0 5px; padding-bottom: 5px; text-transform: capitalize; word-wrap: break-word; }

#container-header-outer { background-color: #000; padding: 10px 0; }
#container-header { height: 40px; margin: 0 auto; width: 1047px; }
#container-header .logo { float: left; height: 30px; margin-top: 8px; text-align: center; width: 360px; }
#container-header .logo a { color: lightgray; /*font-family: 'OpenSans-Bold';*/ font-weight: 700; font-size: 18px; letter-spacing: -1px; }
#container-search { float: right; position: relative; }
#container-search input[type="text"] { border: 0; font-family: 'Poppins'; height: 38px; padding: 0; text-align: center; width: 686px; }

button.search { background: url("../resources/images/search-16.png") repeat scroll 0 0 rgba(0, 0, 0, 0); border: 0; cursor: pointer; height: 16px; position: absolute; right: 25px; top: 11px; width: 16px; }
#display { background-color: #d3d3d3; font-size: 13px; position: absolute; width: 100%; z-index: 1000; }
.display_box_hover, .display_box:hover { background-color: #555; }
.display_box_hover a, .display_box:hover a { color: #fff; text-decoration: underline; }
.display_box { border-bottom: 1px solid #e3e3e3; border-top: 0; padding: 5px 25px; }
.display_box:last-child { border: 0; }

.container { margin: 15px auto 0; width: 1047px; }

.ltr { direction: ltr; }
.rtl { direction: rtl; font-family: 'tahoma'; line-height: 2em; }

.left { width: 722px; float: left;}
.left.index { width: 100%; }
.rtl .left { float: right; }

.right { float: right; width: 310px; }
.rtl .right { float: left; }

footer { background-color: #000; clear: both; color: #999; border-top: 5px dashed #fff; }
#container-footer { margin: 0 auto; overflow: auto; padding: 0 0 10px; width: 1047px; }
#container-footer .block { float: right; padding: 0 0 10px; width: 390px; }
#container-footer #block1 { float: left; width: 575px; }
footer h5 { border-bottom: 1px solid #004882; padding: 5px 0; }
.menu-footer { background-color: #333; border-radius: 5px; clear: both; margin-top: 10px; overflow: auto; padding: 2px 10px; }
.menu-footer ul { float: right; margin: 0; }
.menu-footer ul li { display: inline-block; padding: 0 10px; }
.menu-footer ul li a { color: #fff; }
.menu-footer span { color: #fff; text-align: right; }

.clear { clear: both; }

/*.ad { background-color: #fff; border: 1px solid #d3d3d3; margin-bottom: 10px; padding: 4px; text-align: center; }*/
.ad { background-color: #fff; margin-bottom: 10px; padding: 4px; text-align: center; }
.ad-content-rectangle { height: 280px; margin: 0 auto; width: 336px; }
.ad-sidebar-300x250 { height: 250px; }
.ad-sidebar-300x600 { height: 600px; }

.containers { background-color: #fff; border-bottom: 3px solid #d3d3d3; margin-bottom: 15px; overflow: auto; }
#container-site-status-options { border: 0; }

.containers#comments label { color: maroon; display: block; margin-right: 5px; }

#comments-teaser { word-break: break-all; }
#comments-teaser .comment { background-color: transparent; padding: 5px 0; }
#comments-teaser .name { color: maroon; padding-left: 8px; }

#comments .containers-inner input, #comments .containers-inner textarea { background-color: #eee; border: 1px solid #e3e3e3; border-radius: 5px; padding: 1%; }
#comments .containers-inner input { padding: 4%; }
textarea { width: 75%; }

.containers-inner { overflow: auto; padding: 15px; }

a#short-url { color: blue; font-size: 18px !important; font-weight: 500; float: right; }

.container-comments { clear: both; overflow: auto; }
.container-comments .page { display: none; }
.container-comments #page-1 { display: block; }
.container-comments p { clear: both; }
.comment { border-bottom: 1px solid #e3e3e3; line-height: 30px; overflow: auto; padding: 50px 25px; }
.comment:last-child { border: 0; }
.comment.selected { background-color: lightyellow; }
.comment:hover { transition: background-color 0.5s ease; background-color: #f3f3f3; }

.comment:hover .opt { background-color: #d3d3d3; }

.comment .l { color: maroon; float: left; text-align: center; width: 13%; }

.comment .r { float: right; width: 87%; }
.comment .r .comment-title { /*font-family: 'OpenSans-Bold';*/ font-weight: 700; float: left; text-decoration: underline; }
.comment .r .comment-info { float: right; }
.comment .r .comment-info i { background: url("../resources/images/posted.png"); height: 14px; margin-right: 7px; top: 3px; width: 14px; }

.comment i.user-1 {background: url("../resources/images/user-1.png"); height: 32px; width: 32px;}
.comment i.user-2 {background: url("../resources/images/user-2.png"); height: 32px; width: 32px;}
.comment i.user-3 {background: url("../resources/images/user-3.png"); height: 32px; width: 32px;}
.comment i.user-4 {background: url("../resources/images/user-4.png"); height: 32px; width: 32px;}
.comment i.user-5 {background: url("../resources/images/user-5.png"); height: 32px; width: 32px;}
.comment i { display: inline-block; position: relative; opacity: 0.75; top: 8px; }

.comment i.csi { background: url("../resources/images/comments.png"); height: 16px; top: 5px; width: 16px; }

.comment .header span.comment_site { float: right; }
.rtl .comment .header span.comment_site { float: left; }
.comment .header span.comment_site a { color: blue; text-decoration: underline; }

#comment_add { background-color: maroon; border: none; border-radius: 5px; color: #fff; cursor: pointer; font-family: 'Poppins'; margin: 10px 0; padding: 5px 15px; text-align: center; }
#comment_add:hover { transition: background-color 0.5s ease; background-color: #1abc9c; }

.site { border-bottom: 1px solid #e3e3e3; overflow: auto; padding: 5px 3px; }
.site:last-child { border: 0; }

.site img { height: 16px; position: relative; top: 3px; width: 16px; }

.site div.favicon { background-color: #0000ff; border: 2px solid #0000ff; border-radius: 100%; display: inline-block; height: 5px; width: 5px; }
#sites-down-right-now .site div.favicon { background-color: #ff0000; border: 2px solid #ff0000; }
#sites-facing-disruption .site div.favicon { background-color: #ffa500; border: 2px solid #ffa500; }
#latest-checked-sites .site div.favicon { background-color: #008000; border: 2px solid #008000; }

.rtl .site img { top: 5px; }

.site a { padding-left: 12px; }
.site a:hover { text-decoration: underline; }

.site .status { float: right; position: relative; top: 6px; }
.rtl .site .status { float: left; top: 12px; }
.site i.ps { background: url("../resources/images/disruption.png"); height: 16px; width: 16px; }
.site i.us { background: url("../resources/images/up.png"); height: 16px; width: 16px; }
.site i.ds { background: url("../resources/images/down.png"); height: 16px; width: 16px; }

#comments .loading { display: none; position: relative; top: 3px; }

.site span { color: #777; font-size: 11px; margin: 0 5px; }
.rtl .site span { display: none; }

a.button, a.general-button { color: #333; cursor: pointer; float: left; padding: 13px 0; text-align: center; text-decoration: none; }

#troubleshooting-steps a.steps { font-weight: bold; margin-right: 5px; }

a.button { padding: 5px; width: 60px; }

.container-pagination { background-color: #fff; margin-bottom: 15px; }
.pagination { padding: 10px; text-align: center; }
.pagination li { display: inline-table; padding: 5px; width: auto; }
.pagination li.disabled, .pagination li.disabled a { cursor: not-allowed; opacity: 0.5; }
.pagination li a { font-size: 14px; text-decoration: underline; }
.pagination li.active .current { /*font-family: 'OpenSans-Bold';*/ font-weight: 700; font-size: 20px; }
.pagination li.inactive { cursor: not-allowed; opacity: 0.5; }

span.required { color: #ff0000; }

#container-site-status .containers-inner { overflow: auto; padding-bottom: 0; }

#site-status { background-color: #e2ffe3; border: 1px solid #e3e3e3; margin-bottom: 15px; padding: 10px; text-align: center; }
#site-status .css {
  color: #555; display: table; font-size: 11px; line-height: 20px; width: 100%;
}

#site-status .o {
  background-color: #e3e3e3; float: left; /*font-family: 'OpenSans-Bold';*/ font-weight: 700; margin: 1%; padding: 1%; width: 21%;
}
#site-status .i {
  background-color: lightslategray; border-top-left-radius: 3px; border-top-right-radius: 3px; color: #fff; display: inline; padding: 2px 7px;
}
#site-status .i-server-status.UP { background-color: green; }
#site-status .i-server-status.DOWN { background-color: red; }
#site-status .i-server-status.DISRUPTION { background-color: darkorange; }


.rtl #site-status img#ss { margin-right: 10px; }

#container-site-status .general-button, #container-site-status-options a { background-color: #1abc9c; color: #fff; width: 100%; }
#container-site-status-options a:hover { transition: background-color 0.5s ease; background-color: #ddd; color: #333; }
#btn-report > span { background-color: #800; color: white; font-size: 12px; margin-left: 5px; padding: 2px 8px; }

.rtl #container-site-status .general-button { font-size: 26px; }
#container-site-status .general-button img, #container-site-status-options .general-button img {
  height: 20px; margin-right: 15px; position: relative; top: 3px; width: 20px;
}
.rtl #container-site-status .general-button img { margin-left: 15px; margin-right: 0; }

#contact #copy-url { background-color: #eee; padding: 15px 25px; text-align: center; }
#contact #copy-url input { font-family: 'Poppins'; font-size: 13px; margin-left: 5px; padding: 1%; text-align: center; width: 60%; }
#contact #copy-url > div { float: right; }

#contact .btns, #contact .btns a { display: inline-block; }
#contact .btns:last-child { margin: 0; }
#contact .btns a i.icon { height: 24px; margin: 0; width: 24px; }
#contact .btns a i.icon:hover { transition: opacity 0.5s ease; opacity: 0.5; }

#contact .btns:nth-child(1) a i.icon { background: url("../resources/images/facebook-s.png"); }
#contact .btns:nth-child(2) a i.icon { background: url("../resources/images/forum-s.png"); }
#contact .btns:nth-child(3) a i.icon { background: url("../resources/images/twitter-s.png"); }

.containers#container-graph, .containers#container-map { padding: 15px; }
#visualization1, #visualization2 { padding: 5px 0; text-align: center; }

#container-ads-site-status { float: left; margin: 0 0 15px; width: 100%; }
#container-ads-site-status .ad.adrectangle { height: 280px; margin: 0 auto; width: 336px; }
.containers-inner.detail .ad.adrectangle { border: 0; margin-bottom: 0; }


#status_message { background-color: #eed2ee; border: 1px solid lightgray; border-top: 0; font-size: 12px; padding: 5px; text-align: center; }

#downtime-report .containers-inner > div, #overall-report .containers-inner > div { border-bottom: 1px solid #e3e3e3; padding: 5px 3px; }

#downtime-report .containers-inner > div:last-child,
#similar-domains-to-check .containers-inner > div:last-child,
#overall-report .containers-inner > div:last-child { border-bottom: none; }

#downtime-report .containers-inner > div span, #overall-report .containers-inner > div span { background-color: #e3e3e3; border-radius: 5px; float: right; padding: 0 10px; }
.rtl #downtime-report .containers-inner > div span { float: left; }

a.link { color: #0000ff; cursor: pointer; text-decoration: underline; }

.rtl h3, .rtl h4 { font-size: 16px; }
.rtl .icon { float: right; margin-left: 7px; margin-right: 0; top: 11px; }
#goto-comments { color: #777; cursor: pointer; text-decoration: underline; }

.c-options { float: right; }
.c-options .options { background-color: #f1f1f1; display: inline-block; font-size: 11px; padding: 0 10px; text-align: center; text-decoration: none; width: 100px; }
.c-options .options:first-child { margin-right: 1px; }

#rating .loading { display: none; position: relative; top: 3px; }

.star-rating { background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4='); background-size: contain; display: inline-block; font-size: 0; height: 25px; margin-bottom: -7px; overflow: hidden; position: relative; white-space: nowrap; width: 125px; }
.star-rating i { background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4='); background-size: contain; height: 100%; left: 0; opacity: 0; position: absolute; top: 0; width: 20%; z-index: 1; }
.star-rating input { display: inline-block; height: 100%; margin: 0; opacity: 0; padding: 0; position: relative; width: 20%; z-index: 2; }
.star-rating input:hover + i, .star-rating input:checked + i { opacity: 1 !important; }
.star-rating i ~ i { width: 40%; }
.star-rating i ~ i ~ i { width: 60%; }
.star-rating i ~ i ~ i ~ i { width: 80%; }
.star-rating i ~ i ~ i ~ i ~ i { width: 100%; }

.r a.tu { color: green; }
.r a.td { color: red; }
.r a.tu i { background: url("../resources/images/thumbs_up.png"); height: 14px; width: 14px; margin-right: 1px; }
.r a.td i { background: url("../resources/images/thumbs_down.png"); height: 14px; width: 14px; }
.r a.rp i { background: url("../resources/images/report.png"); height: 14px; width: 14px; }

.r .opts { font-size: 12px; }
.r .opt { background-color: #efefef; border-right: 1px solid #fff; cursor: pointer; display: inline-block; margin-top: 10px; padding: 2px 13px; }
.r .opt:last-child { border: 0; float: right; }
.r .opt:hover { transition: background-color 0.5s ease; background-color: #ddd; }
i.l { display: none; position: relative; }
.r .opt i.l { background: url("../resources/images/loading.gif"); height: 16px; margin-right: 10px; top: 4px; width: 16px; }
.r .opt a i { top: 3px; }
.r .opt a span { margin-left: 10px; }

.container-sharing { margin-top: 10px; }
.container-sharing .btns { margin-right: 5px; opacity: 0.5; }
.container-sharing .btns:hover { transition: opacity 0.5s ease; opacity: 1; }

.containers#health-score > div > div { background-color: #1abc9c; border-radius: 50px; color: #fff; display: table; height:50px; margin: 5px auto 0; text-align: center; width: 50px; }
.containers#health-score > div > div > div { display: table-cell; font-size: 16px; vertical-align: middle; }

table { border-collapse: collapse; font-weight: 500; width: 100%; }
table, td, th { padding: 7px; text-align: center; }
table tr, table th { border-bottom: 1px solid #e3e3e3; }
table tr:last-child { border: 0; }

table.l th, table.l td { padding: 5px 0; text-align: left; }

#container-ad-content-rectangle .containers-inner { padding-top: 5px; }

#comments h3 { color: #800; font-size: 13px; margin: 0; text-align: center; }
#comments-inputs, #comments-stats { float: left; }
#comments-stats { padding-left: 40px; }

span.loader { background: url("../resources/images/ajax-loader.gif") repeat scroll 0 0 rgba(0, 0, 0, 0); display: none; height: 16px; position: absolute; right: 25px; top: 11px; width: 16px; }

.white_content { background-color: #fff; display: none; position: absolute; text-align: center; padding: 25px; width: 50%; z-index:1002; }
.black_overlay { background-color: #000; display: none; left: 0%; opacity: 0.75; position: absolute; top: 0%; width: 100%; z-index: 1000; }
#close { background-color: #000; border-radius: 50%; box-shadow: 0 0 10px 0 #000; color: #fff; cursor: pointer; font-size: 8px; font-weight: bold; height: 30px; line-height: 30px; padding: 0; position: absolute; right: -15px; text-align: center; top: -15px; width: 30px; }

.icon { display: inline-block; float: left; height: 16px; margin-right: 7px; position: relative; top: 5px; width: 16px; }

.containers .containers-inner > i.icon { background: url("../resources/images/todays-most-checked-sites.png"); }
.containers .containers-inner .c-options .options:nth-child(1) i.icon { background: url("../resources/images/status.png"); }
.containers .containers-inner .c-options .options:nth-child(2) i.icon { background: url("../resources/images/comments.png"); }
.containers#container-site-status i.icon { background: url("../resources/images/up-down-status-icon.png"); }
.containers#container-site-status #site-status i.icon { background: url("../resources/images/ajax-loading-bar.gif"); float: none; height: 11px; margin: 0 0 0 15px; top: 0; width: 43px; }
.containers#container-graph i.icon { background: url("../resources/images/server-status-today-icon.png"); }
.containers#container-graph #visualization1 i.icon { background: url("../resources/images/ajax-loader.gif"); float: none;  margin: 0; }
.containers#container-map i.icon { background: url("../resources/images/worldwide-up-down-server-status-icon.png"); }
.containers#container-map #visualization2 i.icon { background: url("../resources/images/ajax-loader.gif"); float: none;  margin: 0; }
.containers#about i.icon { background: url("../resources/images/about-current-outage-icon.png"); }
.containers#alterantives i.icon { background: url("../resources/images/try-alternatives-icon.png"); }
.containers#contact i.icon { background: url("../resources/images/contact.png"); }
.containers#troubleshooting-steps i.icon { background: url("../resources/images/troubleshooting-tips.png"); }
.containers#comments i.icon { background: url("../resources/images/comments-detail-icon.png"); }
.containers#rating i.icon { background: url("../resources/images/rate.png"); }
.containers#container-site-status-options a:nth-child(1) i.icon { background: url("../resources/images/find-an-alternative-icon.png"); display: inline-block; float: none; top: 4px; }
.containers#container-site-status-options a:nth-child(2) i.icon { background: url("../resources/images/report-your-issue.png"); display: inline-block; float: none; top: 4px; }
.container-sharing i.icon { background: url("../resources/images/sharing.png"); }
.containers#downtime-report i.icon { background: url("../resources/images/todays-downtime-report.png"); }
.containers#overall-report i.icon { background: url("../resources/images/overall-report.png"); }
.containers#health-score i.icon { background: url("../resources/images/health-score.png"); }
.containers#similar-domains-to-check i.icon { background: url("../resources/images/similar-domains-to-check.png"); }
.containers#sites-down-right-now i.icon { background: url("../resources/images/sites-down-right-now.png"); }
.containers#sites-facing-disruption i.icon { background: url("../resources/images/sites-facing-disruption.png"); }
.containers#latest-checked-sites i.icon { background: url("../resources/images/latest-checked-sites.png"); }
.containers#comments-teaser i.icon { background: url("../resources/images/latest-comments.png"); }
footer i.icon { background: url("../resources/images/skype.png"); top: 6px; }
.containers .containers-inner i.loading { background: url("../resources/images/loading.gif"); float: none; height: 16px; margin: 0 5px; width: 16px; }

.url a { border-bottom: 1px solid #d3d3d3; display: inline-block; padding: 1% 0; width: 100%; }
.url:last-child a { border-bottom: 0; }
.url a:hover { text-decoration: underline; }

#frame { border: 0; height: 100%; width: 100%; }

span.external { display: inline-block; text-align: center; text-transform: capitalize; width: 100%; }
span.external span { background-color: #1abc9c; border-top-left-radius: 3px; border-top-right-radius: 3px; color: #fff;  padding: 7px 13px; }
span.external a { color: #fff; /*font-family: 'OpenSans-Bold';*/ font-weight: 700; font-size: 15px; margin: 0 5px; text-decoration: underline; }

.country-flag img {
  margin-right: 2px;
  position: relative;
  top: 1px;
  width: 14px;
}

@media only screen and (max-width: 1020px) {
  #container-search { display: none; }

  #container-header { width: 100%; }
  #container-header .logo { text-align: center; width: 100%; }

  .container { padding: 0 5%; width: 90%; }

  .left { float: none; width: 100%; }

  #contact #copy-url > div { float: none; margin-top: 10px; overflow: auto; }

  .right { float: none; width: 100%; }

  footer { padding: 0 5%; width: 90%; }
  #container-footer { width: 100%; }
  #container-footer .block { float: none; width: 100%; }
  #container-footer #block1 { width: 100%; }

  #container-ads-site-status { display: table; float: none; margin: 15px auto 15px; width: 50%; }
  #container-ads-site-status .adrectangle { float: none !important; }
}