.command {
    margin: 11px 21px;
    margin-bottom: 50px;
}

.topline2 {
    background: #008249;
    height: 8px;
    margin-bottom: 28px;
}

img.i23 {
    max-width: 192px;
}

img.bottomimge {
    width: 100%;
}

ul.err_ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    padding-left: 22px;
    font-size: 13px;
}

.err_div {
    border: 5px solid red;
    padding: 11px;
    color: #8c0404;
}

p.lorem {
    margin-bottom: 11px;
    margin-left: 9px;
}

.err_ul li {
    margin-bottom: 4px;
}

.card-logo {
    width: 22px;
}

img.cvv-logo {
    width: 21px;
}