a {
    padding: 5px;
}

input[type='radio'] {
  -webkit-appearance:none;
  width:20px;
  height:20px;
  border:1px solid darkgray;
  border-radius:50%;
  outline:none;
  box-shadow:0 0 5px 0px gray inset;
}

input[type='radio']:hover {
  box-shadow:0 0 5px 0px orange inset;
}

input[type='radio']:before {
  content:'';
  display:block;
  width:60%;
  height:60%;
  margin: 20% auto;    
  border-radius:50%;    
}
input[type='radio']:checked:before {
  background:green;
}

.loading{
    display:none;
    width:99%;
    height:99%;
    z-index:10000;
}

.result{
    border: 1px solid #ccc !important;
    border-radius: 6px;
    padding:6px;
}

.attention{
    background-color:yellow;
    font-weight: bold;
    color: red;
    padding: 2px;
}
.addr{
    font-weight: bold;
}

.tdc,.TDC{
    color: green;
}

.ltc,.LTC{
    color: orange;
}

.btc,.BTC{
    color: gray;
}

.dash,.DASH{
    color: blue;
}