/*
 * $Id: wim_help.css,v 2.0 2005/05/2x $
 *
 * 05a_acacia.css
 *
 */

/*
 * ページ全領域
 */
body {
/*    width: 800px;*/
/*    width: 740px;*/
    width: 100%;

    margin: 0px;
    padding: 0px;

    background-color: #fff;

/*    font-family: sans-serif;*/
/*    font-size: medium; */
/*    font-size: 16px; */
    font-size: 1.0em;
}

.ar_tit {
    margin: 0px 0px 3px 8px;
}

.ar_cnt {
    margin: 8px 0px 3px 8px;
}

.top {
/*    width: 800px;*/
/*    width: 740px;*/

    margin: 0px;
    padding: 0px;
}

/*
 * メニュー項目領域
 */
.menu {
    float: left;
/*    width: 205px;*/
    width: 25%;

    border-style: none;
    border-width: 0px;
    border-color: #eef;

    margin: 0px;
    padding: 0px 0px 30px 0px;

/*  background-color: #ddf; */
    background-color: #9bf;
}

/*
 * メニュータイトル
 */
.m_title {
    margin: 12px 4px 0px 4px;
    padding: 2px 4px 2px 4px;

    font-size: 0.8em;
    font-weight: bolder;
}

/*
 * メニュー項目
 */
.m_item {
    display: block;
    width: 90%;

    border-style: solid;
    border-width: 1px;
    border-color: #449;

    background-color: #eef;
    margin: 4px 4px 0px 4px;
    padding: 4px 4px 4px 4px;

    text-decoration: none;
    color: #449;
    font-size: 0.8em;
    font-weight: bolder;
}

.m_item:hover {
    background-color: #fc8;
}

.m_item_sel {
    display: block;
    width: 90%;

    border-style: solid;
    border-width: 1px;
    border-color: #449;

    background-color: #fc8;
    margin: 4px 4px 0px 4px;
    padding: 4px 4px 4px 4px;

    text-decoration: none;
    color: #449;
    font-size: 0.8em;
    font-weight: bolder;
}

.m_item_a {
    display: block;
    width: 90%;

    border-style: none;
    border-width: 1px;
    border-color: #ddf;

/*    background-color: #ddf; */
    background-color: #9bf;
    margin: 4px 4px 0px 4px;
    padding: 4px 4px 4px 4px;

    text-decoration: none;
    color: #449;
    font-size: 0.8em;
    font-weight: bolder;
}

.m_item_a:hover {
    background-color: #fc8;
}

.m_item_a_sel {
    display: block;
    width: 90%;

    border-style: none;
    border-width: 1px;
    border-color: #ddf;

/*    background-color: #fc8; */
    background-color: #adf;
    margin: 4px 4px 0px 4px;
    padding: 4px 4px 4px 4px;

    text-decoration: none;
    color: #449;
    font-size: 0.8em;
    font-weight: bolder;
}

/*
 * トピック表示領域
 */
.topic {
    float: left;
/*    width: 570px;*/
/*    width: 510px;*/
    width: 70%;

    border-style: none;
    border-width: 0px 0px 0px 0px;
    border-color: #eef;

    margin: 0px 0px 0px 5px;
    padding: 0px 0px 30px 5px;
}

/*
 * トピックカテゴリタイトル
 */
h1 { /* .t_t_cat */
    border-style: solid none solid none;
    border-width: 8px 0px 3px 0px;
/*    border-color: #449; */
/*    border-color: #bbd; */
    border-color: #9bf;

    margin-top: 0px;
    padding: 5px 2px 5px 2px;

    color: #000;

    font-size: 1.2em;
    font-weight: bolder;
}

.t_t_lvl {
    font-size: 0.7em;
    font-weight: normal;
}

.t_t_lvl_lnk {
    text-decoration: underline;
    color: #39c;
}

.t_t_lvl_lnk:hover {
    text-decoration: underline;
    color: #03f;
}

/*
 * トピック項目タイトル
 */
h2 { /* .t_t_itm */
    color: #000;

    padding: 3px 3px 3px 3px;
    background-color: #ddf;
    font-size: 1.0em;
    font-weight: bolder;
    padding-left: 0.3em;

/*
    background-image: url('img/item_title_head.gif');
    background-repeat: no-repeat;
    background-position: right;
*/
}

.back {
    font-size: 1.0em;
    text-align: right;
    margin-top: -2.3em;
    margin-bottom: 1.0em;
}

/*
 * トピック項目名（行頭丸付き）
 */
h3 { /* .t_name_img */
    margin-top: 1.0em;
    margin-bottom: 0.2em;

    font-size: 0.9em;
    font-weight: bolder;
    padding-left: 1.0em;

    background-image: url('img/item_name_head.gif');
    background-repeat: no-repeat;
}

/*
 * トピック項目名（行頭丸無し）
 */
h4 { /* .t_name */
    margin-top: 1.0em;
    margin-bottom: 0.2em;

    font-size: 0.9em;
    font-weight: bolder;
}

/*
 * トピック本文
 */
.t_body {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 0.9em;
    line-height: 1.5em;
}

/*
 * トピックリンク
 */
.t_lnk {
/*    text-decoration: none; */
/*    color: #449; */
    text-decoration: underline;
    color: #39c;
    font-size: 0.8em;
    line-height: 1.5em;
}

.t_lnk:hover {
    text-decoration: underline;
    color: #03f;
    font-size: 0.8em;
}

/*
 * トピック補足タイトル
 */
.t_sup_t {
    margin-top: 1.0em;
    margin-bottom: 0.2em;

    font-size: 0.8em;
    font-weight: bolder;
    padding-left: 1.8em;

    background-image: url('img/sup_title_head.gif');
    background-repeat: no-repeat;
    background-position: 0px -1px;
}

/*
 * トピック補足説明文
 */
.t_sup_b {
    margin-top: 0;
    margin-bottom: 1.0em;

    font-size: 0.8em;
    line-height: 1.5em;
}

/*
 * トピック項目選択肢ブロック → インデント指定
 */
.indent { /* .t_t_sel */
    margin-left: 2em;
    border-style: none;
    border-width: 0px;
    border-color: #0ff;
}

/*
 * 手順インデント指定
 */
.ls_indent {
    margin-left: 3.5em;
    border-style: none;
    border-width: 0px;
    border-color: #0ff;
}

/*
 * 表見出し
 */
.tbl_head {
    margin-top: 0;
    margin-bottom: 0;

    text-decoration: none;
    font-size: 0.8em;
/*    font-weight: bolder; */
    line-height: 1.5em;
}

/*
 * 表空きセル
 */
.tbl_spece {
    line-height: 0.1em;
}

/*
 * 改行幅
 */
br {
/*    line-height: 0;*/
}
