
        h1,
        h2 {
            text-align: center
        }

        ul {
            padding-left: 16px;
        }

        ul>li {
            list-style: none;
        }

        a {
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
        }
    