/*
    Winelink - Print CSS
    
    @author     COEX s.r.o.
*/

body {
    background: #fff;
    font-size: 12px;
    font-family: Arial, "Arial CE", "Helvetica CE", Arial, helvetica, sans-serif;
    line-height: 18px;
}

.products-list .product{
    overflow: hidden;
    width: 201px;
    height: 395px;
    display: inline-block;
    margin: 0 1px 1px 0;
    /*border-right: solid #F8EFDB 1px;
    border-bottom: solid #F8EFDB 1px;*/
    background: #FFFFFF;
}
.products-list .product .image {
    display: block;
    overflow: hidden;
    width: 146px;
    height: 210px;
    text-align: center;
    /*background: red;*/
    margin: 6px 0 12px 17px;
    border: none;
    outline: none;
    text-decoration: none;
}

.products-list .product .image img {
    border: none;
    outline: none;
}

.products-list .product .title{
    margin: 0;
    padding: 0;
}
    .products-list .product .title a{
        display: block;
        margin: 0 17px 5px 17px;
        color: #7b3e7a;
        font-size: 14px;
        text-decoration: underline;
        overflow: hidden;
        height: 55px;
    }
        .products-list .product .title a:hover{
            text-decoration: none;
        }
.products-list .product .description{
    margin: 0 17px 6px 17px;
    overflow: hidden;
    height: 70px;
}
.products-list .product .price{
    width: 100px;
    margin: 3px 0 0 17px;
}
    .products-list .product .old-price{
        color: #30231a;
        height: 18px;
        text-decoration: line-through;
    }
    .products-list .product .new-price{
        font-size: 18px;
        /*color: #ec008c;*/
        color: #ff6600;
        font-weight: bold;
    }
.products-list .product .add-to-basket{
    width: 50px;
}
.products-list .product .add-to-basket .input-submit{
    display: block;
    width: 47px;
    height: 47px;
    margin: 0 12px 0 0;
    background: url('images/product-add-to-basket-bg.png') no-repeat left top;
}
.products-list .product .icons, .product-detail .icons{
    margin: 12px 10px 0 0;
    width: 53px;
    overflow: hidden;
}
.products-list .product .icon, .product-detail .icon{
    width: 47px;
    height: 47px;
    margin: 0 0 3px 5px;
    display: block;
}
    .action{background: url('images/icon-product-action.png') no-repeat left top;}
    .new{background: url('images/icon-product-new.png') no-repeat left top;}
    .bestseller{background: url('images/icon-product-bestseller.png') no-repeat left top;}
    .tip{background: url('images/icon-product-tip.png') no-repeat left top;}

.product-detail{
    background: #FFFFFF;
    padding: 32px 0 0 0;
    overflow: hidden;
}
    .product-detail .buy{
        width: 253px;
        padding: 0 16px 16px 16px;
        border-right: dotted #b2adb2 1px;
    }
    .product-detail .detail{
        width: 313px;
        padding: 0 16px 16px 16px;
    }

        .product-detail .image {
            width: 207px;
            height: 321px;
            margin: 0 0 45px 42px;
            overflow: hidden;
            text-align: center;
            /*background-color: #F5F5F5;*/
            text-decoration: none;
        }
        
        .product-detail .image img {
            outline: none;
            border: none;
        }
        
        .product-detail .title{
            font-size: 22px;
            font-weight: bold;
            color: #7b3e7a;
            line-height: 30px;
        }
        .product-detail .code{
            margin: 0 0 20px 0;
            color: #545354;
        }
        .product-detail .label{
            color: #7b3e7a;
            font-size: 14px;
            font-weight: bold;
        }
        .product-detail .description-item{
            margin: 0 0 20px 0;
        }

        .product-detail .new-price{
            border-bottom: dotted #b2adb2 1px;
            padding: 0 0 16px 0;
            margin: 0 0 18px 0;
        }
        .product-detail .price{
            font-size: 30px;
            color: #ff6600;
            margin: 0 0 0 10px;
        }
        .product-detail .avalaibility{
            margin: 0 0 20px 0;
        }

        .product-detail .add-to-basket{
            background: #fa8115;
            padding: 25px 23px 25px 18px;
        }
        .product-detail .add-to-basket .count{
            margin: 14px 0 0 0;
        }
        .product-detail .add-to-basket .count input{
            margin: 0;
            padding: 0;
            border: solid #FFFFFF 3px;
        }

        .product-detail .add-to-basket .input-submit{
            display: block;
            width: 200px;
            height: 48px;
            padding: 0 0 0 0;
            color: #7b3e7a;
            text-align: left;
            font-size: 14px;
            font-weight: bold;
            cursor: pointer;
            border: none;
            text-decoration: underline;
            background: url('images/product-add-to-basket-bg.png') no-repeat right top;
        }
        .product-detail .facebook{
            /*background: #ebeae4;
            min-height: 40px;
            margin: 18px 0 0 0;*/
            overflow: hidden;
        }

.left {
    float: left;
}

.wrapper,
.main {
    margin: 0;
}

.new-price {
    border: none !important;
}

.header,
.teaser-wrapper,
.navigation-wrapper,
.sidebar,
.footer,
.breadcrumbs,
.facebook,
.pe,
.paginator,
.filterbox,
.paginator-bottom,
.add-to-basket,
.icons,
.pp_overlay,
#peBox {
    display: none !important;
}

