
              .BeaconFabButtonFrame {
                border: none;
                bottom: 40px;
                box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
                position: fixed;
                right: 40px;
                top: auto;
                transition: box-shadow 250ms ease, opacity 0.4s ease,
                  scale 1000ms ease-in-out, transform 0.2s ease-in-out;
              }

              .BeaconFabButtonFrame:active {
                box-shadow: none;
              }

              .BeaconFabButtonFrame iframe {
                border: none;
                height: 100%;
                width: 100%;
                color-scheme: light !important;
              }

              @media (max-height: 740px) {
                .BeaconFabButtonFrame {
                  bottom: 10px;
                  right: 20px;
                }
              }

              @supports (--css: variables) {
                .BeaconFabButtonFrame.has-pulse-animation::before {
                  animation: puff-out-center 2s
                    cubic-bezier(0.165, 0.84, 0.44, 1) both;
                  animation-delay: 0.2s;
                  background-color: var(--pulse-background);
                  border-radius: 250px;
                  bottom: var(--pulse-bottom-offset);
                  content: "";
                  height: 250px;
                  opacity: 1;
                  pointer-events: none;
                  position: absolute;
                  right: var(--pulse-right-offset);
                  width: 250px;
                  will-change: transform;
                  z-index: -1;
                }

                @keyframes puff-out-center {
                  0% {
                    transform: scale(0.2);
                    opacity: 0.5;
                  }
                  100% {
                    transform: scale(1);
                    opacity: 0;
                  }
                }
              }

              .BeaconFabButtonFrame--left {
                left: 40px;
                right: initial;
              }

              @media (max-height: 740px) {
                .BeaconFabButtonFrame--left {
                  left: 20px;
                  right: initial;
                }
              }